.nav-container
    border-bottom 5px solid ac-pink
    margin auto -10px
    position fixed
    top 0
    width 100%
    ul
        align-items stretch
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content space-around
        list-style-type none
        margin 0
        padding 0
        text-align center
        a
            background-color ac-purple
            color ac-white
            flex-grow 1
            text-decoration none
            transition all .5s ease
            &:hover
                background-color ac-pink
                font-size 1.2rem
        li
            padding 10px
                