.nav-container
    border-bottom 5px solid ac-pink
    font-family 'Libre Franklin', sans-serif
    left 0
    position fixed
    top 0
    width 100%
    transition all .5s ease
    &:hover
        border-bottom 5px solid ac-purple
    ul
        align-items stretch
        display flex
        flex-direction row
        flex-wrap wrap
        font-weight 600
        justify-content space-around
        letter-spacing 2px
        list-style-type none
        margin 0
        padding 0
        text-align center
        text-transform uppercase
        a
            background-color ac-purple
            color ac-white
            flex-grow 1
            text-decoration none
            transition all .5s ease
            &:hover
                background-color ac-pink
        li
            padding 20px
                