#root
    background-color ac-white
    color ac-black
    font-family 'Libre Baskerville', serif
    font-size 16px
    margin -10px
    padding 10px
    
h1, h2, h3, h4, h5 {
    font-family 'Libre Franklin', sans-serif
    font-weight 700
    letter-spacing 4px
}
