html
  background-color ac-gray
#root
    color ac-black
    font-family 'Libre Baskerville', serif
    font-size 16px
    padding 10px
    
h1, h2
    font-family 'Libre Franklin', sans-serif
    font-weight 700
    letter-spacing 4px
    
h3, h4, h5
    font-family 'Libre Franklin', sans-serif
    font-weight 700
    letter-spacing 2px
    
.page-list
   display flex
   justify-content center
   & .list-container
      max-width 960px
